*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  font-size: large;
  text-align: center;
  min-height: calc(100vh - 600px)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.navigation {
  position: sticky;
  top: 0;
  background-color: #FFF;
  overflow: hidden;
  font-family: 'Markazi Text';
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation a {
  white-space: nowrap;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  color: #495E57;
}

.navigation a:link {
  text-decoration: none;
}

.Logo {
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.hamburger {
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  position: absolute;
  left: 0.5rem;
  background-color: #FFF;
  display: none;
}

.basket {
  display: block;
  position: absolute;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  position: absolute;
  right: 0.5rem;
  display: none;
}

.basket-button {
  background-color: #FFF;
  border: none;
  display: none;
}

.hero {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  background-image: url('./components/images/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.hero-text {
  display: grid;
  margin: 0.5rem;
  background: #495E57;
  width: 26.75rem;
  border-radius: 16px;
  color: #EDEFEE;
}

.hero button {
  width: 8rem;
  margin-bottom: 2rem;
  width: 200px;
  height: 40px;
  background: #F4CE14;
  border-radius: 16px;
  border: none;
  font-family: "Karla";
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem;
  cursor: pointer;
}

h1 {
  display: grid;
  justify-content: start;
  font-size: 64px;
  font-family: 'Markazi Text';
  font-weight: normal;
  margin-left: 2rem;
  margin-top: 1rem;
}

h2 {
  display: grid;
  justify-content: start;
  font-size: 40px;
  font-family: 'Markazi Text';
  font-weight: normal;
  margin-left: 2rem;
}

h3 {
  font-family: "Karla";
  font-size: 40px;
  color: #495E57;
}

article {
  display: grid;
  align-items: center;
  justify-content: start;
  width: 75%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-family: "Karla";
  font-size: 16px;
  font-weight: normal;
}

.highlights{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5rem;
  width: 80rem;
  align-self: center;
}

.highlights-header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.highlights .dishcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.highlight-dish {
  display: flex;
  flex-direction: column;
  background-color: #EDEFEE;
  border-radius: 16px;
  width: 15rem;
  margin: 1rem;
}

.highlight-dish article {
 margin-left: 1.5rem;
}

.dish-header {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
}

.dish-name {
  align-self: flex-start;
  padding-right: 1.5rem;
}

.price {
  align-self: flex-end;
}

.highlights button {
  width: 8rem;
  margin-bottom: 2rem;
  width: 200px;
  height: 40px;
  background: #F4CE14;
  border-radius: 16px;
  border: none;
  font-family: "Karla";
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem;
  cursor: pointer;
}

.highlight-dish img {
  width: 15rem;
  height: 10rem;
  border-radius: 16px 16px 0px 0px;
}

.highlight-dish .dish-delivery {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.highlight-dish .deliveryimg img {
  width: 2rem;
  height: 1.5rem;
}

.highlight-dish .deliveryimg {
  align-self: center;
  justify-self: center;
}

.highlight-dish a:link {
  text-decoration: none;
}

.highlight-dish a {
  color: black;
}

.about {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  background-image: url('./components/images/Mario and Adrian A.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 900px;
}

.about-text {
  display: grid;
  margin: 0.5rem;
  background: #495E57;
  width: 26.75rem;
  border-radius: 16px;
  color: #EDEFEE;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem;
}

.testimonials h3 {
  padding-bottom: 5rem;
}

.testimonial-card article {
  margin-left: 1.5rem;
}

.testimonial-card .username {
  align-self: flex-start;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
}

.testimonials .testimonialcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: #EDEFEE;
  border-radius: 16px;
  width: 15rem;
  margin: 1rem;
  justify-content: flex-end;
}

.testimonials .testimonial-img img {
  width: 15rem;
  height: 10rem;
  border-radius: 0px 0px 16px 16px;
  object-fit: cover;
}

.testimonials .testimonial-img {
  display: flex;
  justify-self: flex-end;
}

.testimonials .starimg img {
  width: 15rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: black;
  flex-shrink: 0;
  height: 35rem;
  color: #EDEFEE;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.footer h2 {
  margin: 0;
  line-height:2rem;
  padding-bottom: 0.5rem;
}

.footer ul {
  padding: 5rem;
  line-height:1.5rem;
}
.footer li {
  list-style: none;
  color: #EDEFEE;
}

.footer a:link {
  text-decoration: none;
}

.footer a:any-link {
  color: #EDEFEE;
}

.footer img {
  height: 22rem;
  padding: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {

  .navigation {
    overflow: visible;
    height: 5rem;
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .basket-button {
    display: flex;
  }
  .basket {
    display: block;
  }
  .navigation a {
    white-space: unset;
    overflow: visible;
    padding: 0;
  }
  .navigation ul {
    position: absolute;
    top: 80px;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    padding: 0;
    display: none;
  }
  .navigation li {
    text-align: center;
  }
  .navigation li a {
    width: 100%;
  }
  .navigation li:hover {
    background-color: #eee;
  }
  .navigation.expanded ul {
    display: block;
  }
  .hero-text {
    width: 22rem;
  }

  .about-text {
    width: 22rem;
  }

  .highlights {
    width: 100%;
    align-items: center;
  }

  .highlights .dishcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .testimonials .testimonialcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .footer {
    display: grid;
    justify-content: center;
  }

  .footer img {
    display: none;
  }

  .footer ul {
    padding: 2rem;
  }
}

